.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
    background-size: cover;
  }


.card-container{
    border: 0.5px grey solid;
    border-radius: 2px;
    margin-bottom: 10px;
    background-color: white;
}